body {
  margin: 0;
  padding: 0;
  background-color: #faf7f0;
}
body .main-conteneur {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main-conteneur h1,
body .main-conteneur h2,
body .main-conteneur .text-title {
  font-family: Poppins;
  color: #1a1a1a;
}
body .main-conteneur h1 {
  font-size: 1.5rem;
}
body .main-conteneur h3,
body .main-conteneur p,
body .main-conteneur a,
body .main-conteneur .text-content {
  font-family: Lato;
  font-size: 1.25rem;
  line-height: 26px;
  color: #1a1a1a;
}
body .main-conteneur .text-highlight {
  color: #e3b778;
}
body .main-conteneur .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
body .main-conteneur .cta {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  background-color: #e3b778;
  border: 1px solid #e3b778;
  padding: 10px 60px 10px 60px;
  cursor: pointer;
}
body .main-conteneur .cta:hover {
  background-color: #faf7f0;
}
body .main-conteneur section {
  margin-bottom: 30px;
  width: 100%;
}
body .main-conteneur header {
  padding-top: 15px;
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 1;
}
body .main-conteneur header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .main-conteneur header .navbar__spacer {
  width: 33%;
}
body .main-conteneur header .navbar__logo {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main-conteneur header .navbar__logo p {
  font-weight: bold;
  font-size: 2.25rem;
  margin: 0;
  margin-top: -5px;
}
body .main-conteneur header .navbar__logo img {
  width: 110px;
  margin: 0;
}
body .main-conteneur header .navbar__nav {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}
body .main-conteneur header .navbar__nav_burger {
  font-size: 3rem;
  color: #e3b778;
  background: none;
  border: none;
  cursor: pointer;
}
body .main-conteneur header .navbar__nav_anchors {
  display: none;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 60px;
  background: #faf7f0;
  padding: 2px 1rem 1rem 1rem;
  width: 33%;
  z-index: 1;
  border: 3px solid #e3b778;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
body .main-conteneur header .navbar__nav_anchors a {
  width: 100%;
  font-family: Poppins;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
body .main-conteneur header .navbar__nav_anchors a:visited {
  color: #1a1a1a;
}
body .main-conteneur header .navbar__nav_anchors .close-btn {
  border: none;
  background-color: #faf7f0;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
body .main-conteneur header .navbar__nav .active {
  display: flex;
}
body .main-conteneur .hero {
  position: relative;
  height: 550px;
  border-bottom: 5px solid #e3b778;
}
body .main-conteneur .hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .main-conteneur .hero__accroche {
  background-color: #faf7f0;
  border-top: 5px solid #e3b778;
  border-left: 5px solid #e3b778;
  border-right: 5px solid #e3b778;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 285px;
  height: 249px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20% 20% 0 0;
}
body .main-conteneur .hero__accroche h1 {
  text-align: center;
  font-size: 1.5rem;
}
body .main-conteneur .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
body .main-conteneur .about__image {
  width: 85%;
  height: 142px;
  border: 3px solid #e3b778;
  margin-bottom: 10px;
}
body .main-conteneur .about__image .about__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(0.8px);
}
body .main-conteneur .about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5% 0 5%;
}
body .main-conteneur .about__content h2 {
  color: #faf7f0;
  text-align: center;
  position: absolute;
  top: 22px;
  width: 85%;
  -webkit-text-stroke: 1px #1a1a1a;
}
body .main-conteneur .about__content p {
  text-align: center;
}
body .main-conteneur .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3b778;
}
body .main-conteneur .product h1 {
  text-align: center;
  color: #faf7f0;
  margin-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
}
body .main-conteneur .product p {
  color: #faf7f0;
}
body .main-conteneur .product__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 450px;
  position: relative;
}
body .main-conteneur .product__wrapper .product__image {
  height: 260px;
  border-radius: 250px;
}
body .main-conteneur .product__wrapper .product-arrow {
  opacity: 0;
  position: absolute;
  width: 70px;
}
body .main-conteneur .product__wrapper .product-text {
  opacity: 0;
  position: absolute;
  text-align: center;
  font-size: 1.125rem;
  max-width: 190px;
}
body .main-conteneur .product__wrapper .text-top-right {
  right: 10px;
  top: -30px;
  transform: rotate(-5deg);
}
body .main-conteneur .product__wrapper .text-top-right.animate {
  animation: fade-in 0.5s ease-out forwards;
  animation-delay: 0.6s;
}
body .main-conteneur .product__wrapper .arrow-top-right {
  right: 60px;
  top: 50px;
  transform: rotate(140deg) scaleX(-1);
}
body .main-conteneur .product__wrapper .arrow-top-right.animate {
  animation: slide-in-right 0.8s ease-out forwards;
}
body .main-conteneur .product__wrapper .text-top-left {
  left: 0px;
  top: 18px;
  max-width: 120px;
  transform: rotate(5deg);
}
body .main-conteneur .product__wrapper .text-top-left.animate {
  animation: fade-in 0.5s ease-out forwards;
  animation-delay: 0.6s;
}
body .main-conteneur .product__wrapper .arrow-top-left {
  left: 40px;
  top: 90px;
}
body .main-conteneur .product__wrapper .arrow-top-left.animate {
  animation: slide-in-top-left 0.8s ease-out forwards;
}
body .main-conteneur .product__wrapper .text-bottom-left {
  left: -5px;
  bottom: 120px;
  margin: 0;
  padding: 0;
  width: 120px;
  transform: rotate(-4deg);
}
body .main-conteneur .product__wrapper .text-bottom-left.animate {
  animation: fade-in 0.5s ease-out forwards;
  animation-delay: 0.6s;
}
body .main-conteneur .product__wrapper .arrow-bottom-left {
  left: 55px;
  bottom: 70px;
}
body .main-conteneur .product__wrapper .arrow-bottom-left.animate {
  animation: slide-in-bottom-left 0.8s ease-out forwards;
}
body .main-conteneur .product__description {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
body .main-conteneur .cta-conteneur {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
@keyframes slide-in-top-left {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    transform: rotate(180deg);
    opacity: 1;
  }
}
@keyframes slide-in-bottom-left {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    transform: rotate(-4deg);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    transform: rotate(180deg) scaleX(-1);
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body .main-conteneur .review {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main-conteneur .review h1 {
  margin-bottom: 60px;
}
body .main-conteneur .review__conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  height: 100%;
}
body .main-conteneur .review__conteneur .review__card {
  width: 65%;
  max-width: 560px;
  height: 300px;
  background-color: #f2f2f2;
  padding: 5%;
}
body .main-conteneur .review__conteneur .review__card .card-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10%;
}
body .main-conteneur .review__conteneur .review__card .card-top img {
  width: 50px;
  border-radius: 256px;
}
body .main-conteneur .review__conteneur .review__card .card-top .info-conteneur {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .main-conteneur .review__conteneur .review__card .card-top .info-conteneur .name {
  font-family: Poppins;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0;
  margin: 0;
}
body .main-conteneur .review__conteneur .review__card .card-top .info-conteneur .date {
  font-size: 0.875rem;
  color: #838383;
  padding: 0;
  padding-left: 5px;
  margin: 0;
  font-family: Poppins;
}
body .main-conteneur .review__conteneur .review__card .card-content .main-content {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: normal;
  font-family: Poppins;
}
body .main-conteneur .review__conteneur .review__card .card-content .more {
  font-size: 0.85rem;
  color: #838383;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Poppins;
}
body .main-conteneur .review__conteneur .review__card .card-star {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 3px;
}
body .main-conteneur .review__conteneur .review__card .card-star .fa-star {
  color: #f5ba17;
  font-size: 1.25rem;
}
body .main-conteneur .review__conteneur .review__card .card-star .unrated {
  color: #d9d9d9;
}
body .main-conteneur .faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
body .main-conteneur .faq h1 {
  text-align: center;
  max-width: 200px;
  margin-bottom: 0;
}
body .main-conteneur .faq__conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px;
}
body .main-conteneur .faq__conteneur .faq__card {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main-conteneur .faq__conteneur .faq__card .question {
  font-weight: 600;
  font-size: 1.375rem;
  margin-bottom: 0;
  text-align: center;
}
body .main-conteneur .faq__conteneur .faq__card .answer {
  opacity: 0;
  text-align: center;
}
body .main-conteneur .faq__conteneur .faq__card .answer.animate {
  animation: fade-in 0.6s ease-out forwards;
}
body .main-conteneur footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3b778;
  padding-top: 20px;
  padding-bottom: 80px;
}
body .main-conteneur footer .category_title {
  font-weight: bold;
  font-size: 1.3rem;
  align-self: center;
}
body .main-conteneur footer .footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}
body .main-conteneur footer .footer__logo img {
  width: 67px;
}
body .main-conteneur footer .footer__logo .footer__socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
body .main-conteneur footer .footer__logo .footer__socials a {
  font-size: 1.5rem;
}
body .main-conteneur footer .footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
body .main-conteneur footer .footer__info a {
  text-decoration: none;
  font-size: 1.1rem;
}
body .main-conteneur footer .footer__info .fa-solid {
  margin-right: 5px;
}
body .main-conteneur footer .footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
body .main-conteneur footer .footer__links a {
  text-decoration: none;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  body .main-conteneur h1 {
    font-size: 1.75rem;
  }
  body .main-conteneur header .nabar__nav_anchors {
    width: 50%;
  }
  body .main-conteneur .hero__accroche {
    width: 350px;
  }
  body .main-conteneur .about__content h2 {
    top: 40px;
  }
  body .main-conteneur .product__wrapper {
    width: 485px;
  }
  body .main-conteneur .product__wrapper .product__image {
    height: 360px;
  }
  body .main-conteneur .product__description {
    max-width: 600px;
  }
  body .main-conteneur .faq h1 {
    max-width: 600px;
  }
}
@media (min-width: 1024px) {
  body .main-conteneur h1 {
    font-size: 2rem;
  }
  body .main-conteneur h3,
  body .main-conteneur p,
  body .main-conteneur a,
  body .main-conteneur .text-content {
    font-size: 1.45rem;
    line-height: 35px;
  }
  body .main-conteneur header {
    padding-top: 0;
  }
  body .main-conteneur header .navbar {
    height: 100px;
    padding-top: 20px;
  }
  body .main-conteneur header .navbar__spacer {
    width: 0;
  }
  body .main-conteneur header .navbar__logo {
    width: 15%;
    align-items: start;
    padding-left: 50px;
  }
  body .main-conteneur header .navbar__logo img {
    width: 60px;
  }
  body .main-conteneur header .navbar__logo p {
    font-size: 1.5rem;
  }
  body .main-conteneur header .navbar__nav {
    width: 85%;
    height: 100%;
    padding-right: 15px;
  }
  body .main-conteneur header .navbar__nav_burger {
    display: none;
  }
  body .main-conteneur header .navbar__nav_anchors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
    position: relative;
    box-shadow: none;
    border: none;
    top: 0;
    width: 100%;
    padding: 0;
  }
  body .main-conteneur header .navbar__nav .close-btn {
    background: none;
    font-size: 1.61rem;
  }
  body .main-conteneur header .navbar__nav #burger-close {
    display: none;
  }
  body .main-conteneur .hero {
    height: 650px;
  }
  body .main-conteneur .hero__img {
    object-fit: cover;
  }
  body .main-conteneur .hero__accroche {
    left: 75%;
  }
  body .main-conteneur .about {
    flex-direction: row;
    gap: 5%;
    width: 90%;
    height: 550px;
    margin-top: 50px;
    margin-bottom: 70px;
  }
  body .main-conteneur .about__image {
    width: 35%;
    height: 100%;
  }
  body .main-conteneur .about__image img {
    filter: none;
  }
  body .main-conteneur .about__content {
    width: 60%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
  }
  body .main-conteneur .about__content h2 {
    position: relative;
    color: #1a1a1a;
    -webkit-text-stroke: 0;
    font-size: 1.85rem;
    width: 100%;
    margin-top: 0;
  }
  body .main-conteneur .about__content p {
    margin-top: 30px;
  }
  body .main-conteneur .product__wrapper {
    width: 985px;
  }
  body .main-conteneur .product__wrapper .product__image {
    height: 460px;
  }
  body .main-conteneur .product__wrapper .product-arrow {
    width: 140px;
  }
  body .main-conteneur .product__wrapper .product-text {
    font-size: 1.6rem;
    max-width: 850px;
    width: 350px;
  }
  body .main-conteneur .product__wrapper .text-top-right {
    right: 20px;
    top: 10px;
    transform: rotate(-3deg);
  }
  body .main-conteneur .product__wrapper .arrow-top-right {
    right: 180px;
    top: 120px;
    transform: rotate(-20deg) scaleX(1);
  }
  body .main-conteneur .product__wrapper .text-top-left {
    left: 150px;
    top: -20px;
    max-width: 120px;
    transform: rotate(5deg);
  }
  body .main-conteneur .product__wrapper .arrow-top-left {
    left: 180px;
    top: 70px;
    transform: rotate(180deg);
  }
  body .main-conteneur .product__wrapper .text-bottom-left {
    left: 40px;
    bottom: 130px;
    margin: 0;
    padding: 0;
    width: 350px;
    transform: rotate(-4deg);
  }
  body .main-conteneur .product__wrapper .arrow-bottom-left {
    left: 185px;
    bottom: 30px;
    transform: rotate(-5deg);
  }
  body .main-conteneur .review__conteneur {
    flex-direction: row;
    align-items: flex-start;
    padding-left: 5%;
    padding-right: 5%;
    gap: 2%;
  }
  body .main-conteneur .review__conteneur .review__card {
    padding: 2%;
    width: 30%;
    max-height: 300px;
  }
  body .main-conteneur .review__conteneur .review__card .card-top {
    gap: 5%;
  }
  body .main-conteneur .review__conteneur .review__card .card-top .info-conteneur p {
    line-height: normal;
  }
  body .main-conteneur .review__conteneur .review__card .card-content .main-content {
    font-size: 0.9rem;
  }
  body .main-conteneur .review__conteneur .review__card .card-content .more {
    font-size: 1rem;
  }
  body .main-conteneur .review__conteneur .review__card .card-star {
    justify-content: flex-start;
  }
  body .main-conteneur .faq {
    margin-bottom: 100px;
  }
  body .main-conteneur .faq h1 {
    margin-bottom: 35px;
  }
  body .main-conteneur .faq__conteneur {
    flex-direction: row;
    justify-content: center;
    justify-content: baseline;
    flex-wrap: wrap;
    gap: 5%;
  }
  body .main-conteneur .faq__conteneur .faq__card {
    width: 40%;
  }
  body .main-conteneur .faq__conteneur .faq__card .question {
    font-size: 1.5rem;
  }
  body .main-conteneur footer {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 15%;
  }
  body .main-conteneur footer .category_title {
    font-size: 1.375rem;
  }
  body .main-conteneur footer .footer__logo img {
    width: 86px;
  }
  body .main-conteneur footer .footer__logo .footer__socials a {
    font-size: 1.8rem;
  }
  body .main-conteneur footer .footer__info a {
    font-size: 1.2rem;
  }
}
@media (min-width: 1440px) {
  body .main-conteneur h1 {
    font-size: 3rem;
  }
  body .main-conteneur h3,
  body .main-conteneur p,
  body .main-conteneur a,
  body .main-conteneur .text-content {
    font-size: 1.875rem;
    line-height: 40px;
  }
  body .main-conteneur header .navbar__nav .close-btn {
    font-size: 2.2rem;
  }
  body .main-conteneur .hero__accroche {
    width: 480px;
    height: 350px;
  }
  body .main-conteneur .about__image {
    width: 30%;
  }
  body .main-conteneur .about__content {
    font-size: 3rem;
  }
  body .main-conteneur .about__content h2 {
    font-size: 2.15rem;
  }
  body .main-conteneur .about__content p {
    margin-top: 50px;
  }
  body .main-conteneur .product__wrapper .product-text {
    font-size: 1.7rem;
  }
  body .main-conteneur .product__wrapper .text-top-left {
    top: -30px;
  }
  body .main-conteneur .product__description {
    max-width: 800px;
  }
  body .main-conteneur .faq {
    margin-top: 50px;
  }
  body .main-conteneur .faq h1 {
    max-width: none;
  }
  body .main-conteneur .faq__conteneur .faq__card .question {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
